:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Dark mode defaults */
  color-scheme: light dark;
  --color-text: rgba(255, 255, 255, 0.87);
  --color-bg: #242424;
  --color-link: #646cff;
  --color-link-hover: #535bf2;
}

body {
  margin: 0;
  background: var(--color-bg);
  color: var(--color-text);
}

a {
  font-weight: 500;
  color: var(--color-link);
  text-decoration: none;
}
a:hover {
  color: var(--color-link-hover);
}
